{% extends "layout.njk" %}

    {% block addstyle %}
        <link rel="stylesheet" href="/not-found.css" type="text/css">
    {% endblock addstyle %}
    
    

        {% block content %}
            <h1>Página não encontrada :( # Sorry</h1>
        {% endblock content %}