{% extends "layout.njk" %}

{% block addstyle %}
    <link rel="stylesheet" href="/students/index.css" type="text/css">
{% endblock addstyle %}

{% block content %}

<main class="cards table-container">
    <a href="/students/create">Nove Alune</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Faixa</th>
                <th>Principal</th>
                <th>Pratica</th>

                <th>Ação</th>
            </tr>
        </thead>

        <tbody>
            {% for student in students %}
                <tr>
                    <td><span style="background-image: url ({{ student.photo }})"></span>{{ student.name }}</td>
                    <td>{{ student.belt }}</td>
                    <td>{{ student.main }}</td>
                    <td>{{ student.disciplines }}</td>
                    <td><a href="/students/{{ student.id }}">Ver</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</main>

{% endblock content %}
