
{% block content %}
        <div class="item">
            <label for="photo">Foto do(a) aluno(a)</label>
            <input 
            type="url" 
            name="photo"
            placeholder="https://"
            value="{{ infos.photo }}"
            >
        </div>

        <div class="item">
            <label for="name">Nome Completo</label>
            <input 
            type="text" 
            name="name"
            placeholder="Carolina Fonseca"
            value="{{ infos.name }}"
            >
        </div>

        <div class="item">
            <label for="email">E-mail</label>
            <input 
            type="email" 
            name="email"
            placeholder="email@hotmail.com"
            value="{{ infos.email }}"
            >
        </div>

        <div class="item">
            <label for="birth">Data de nascimento</label>
            <input 
            type="date" 
            name="birth"
            value="{{ infos.birth }}"
            >
        </div>

        <div class="item">
            <label for="main">Modalidade Principal</label>
                <select name="main" value="{{ infos.main }}">
                    <option value="acrobacia">Acrobacia</option>
                    <option value="armas de corte">Armas de corte</option>
                    <option value="arqueria">Arqueria</option>
                    <option value="arte marcial">Arte marcial</option>
                    <option value="pa-kua chi">Pa-kua Chi</option>
                    <option value="ritmo">Ritmo</option>
                    <option value="tai-chi">Tai-chi</option>
                    <option value="yoga chinesa">Yoga chinesa</option>
                </select>
        </div>

        <div class="item">
            <label for="belt">Faixa</label>
                <select name="belt" value="{{ infos.belt }}">
                    <option value="branca">Branca</option>
                    <option value="amarela">Amarela</option>
                    <option value="laranja">Laranja</option>
                    <option value="verde">Verde</option>
                    <option value="cinza">Cinza</option>
                    <option value="azul">Azul</option>
                    <option value="vermelha">Vermelha</option>
                    <option value="preta i">Preta I</option>
                    <option value="preta ii">Preta II</option>
                    <option value="preta iii">Preta III</option>
                    <option value="preta iv">Preta IV</option>
                    <option value="preta v">Preta V</option>
                    <option value="preta vi">Preta VI</option>
                    <option value="preta vii">Preta VII</option>
                </select>
        </div>

        <div class="item">
            <label for="disciplines">Modalidade(s) praticada(s)</label>
                <input 
                type="text" 
                name="disciplines"
                placeholder="Arte Marcial, Armas, Arqueria"
                value="{{ infos.disciplines }}"
                >
        </div>

        <button type="submit">Salvar</button>


{% endblock content %}
