{% extends "layout.njk" %}

{% block addstyle %}
    <link rel="stylesheet" href="/students/index.css" type="text/css">
    <link rel="stylesheet" href="/students/create.css" type="text/css">
{% endblock addstyle %}

{% block content %}

<main class="cards">
    <section class="cover">
        <img class="EmbeddedMediaImage" alt="foto do aluno" src="{{ infos.photo }}">
    </section>

    <section class="infos">
        <h3>Informações</h3>

        <div class="item">
            <h4>Nome Completo</h4>
            <p>{{ infos.name }}</p>
        </div>

        <div class="item">
            <h4>E-mail</h4>
            <p>{{ infos.email }}</p>
        </div>

        <div class="item">
            <h4>Idade</h4>
            <p>{{ infos.age }}</p>
        </div>

        <div class="item">
            <h4>Modalidade Principal</h4>
            <p>
                <span>{{ infos.main }}</span>
            </p>
        </div>

        <div class="item belt-color">
            <h4>Faixa</h4>
            <p>
                <span>{{ infos.belt }}</span>
            </p>
        </div>

        <div class="item">
            <h4>Modalidade(s) praticada(s)</h4>
            <p>
                {% for info in infos.disciplines %}
                    <span>{{ info }}</span>
                {% endfor %}
            </p>
        </div>

        <div class="item">
            <h4>Desde</h4>
            <p>{{ infos.created_at }}</p>
        </div>

        <div class="btns">
            <a class="btn edit" href="/students/{{ infos.id }}/edit">Editar</a>
            
            <form action="/students?_method=DELETE" method="post">
                <button class="btn delete" type="submit">Excluir</button>
                <input type="hidden" name="id" value="{{ infos.id }}">
            </form>
        </div>
        
    </section>
</main>

{% endblock content %}
