*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    --principal-color: #c40000;
    --second-color: #D7DEC6;
    --third-color:#1D191D;
    --fourth-color: gold;

}

form{
    height: 500px;
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--third-color);
}

form .cover img{
    max-width: 100%;;
}