@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    --principal-color: #A80813;
    --second-color: #D7DEC6;
    --third-color: #176877;
    --background-default:#1D191D;
}

h1{
    text-align: center;
    margin: 50px auto;
}