{% extends "layout.njk" %}

{% block addstyle %}
    <link rel="stylesheet" href="/instructors/index.css" type="text/css">
{% endblock addstyle %}

{% block content %}

<main class="cards">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ministra</th>
                <th>Pratica</th>
            </tr>
        </thead>

        <tbody>
            {% for instructor in instructors %}
                <tr>
                    <td>{{ instructor.name }}</td>
                    <td>{{ instructor.classes }}</td>
                    <td>{{ instructor.disciplines }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</main>

{% endblock content %}
