{% extends "layout.njk" %}

{% block addstyle %}
    <link rel="stylesheet" href="/instructors/index.css" type="text/css">
{% endblock addstyle %}

{% block content %}

<main class="cards table-container">
    <a href="/instructors/create">Nove Instrutore</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ministra</th>
                <th>Pratica</th>
                <th>Ação</th>
            </tr>
        </thead>

        <tbody>
            {% for instructor in instructors %}
                <tr>
                    <td><span style="background-image: url ({{ instructor.photo }})"></span>{{ instructor.name }}</td>
                    <td>{{ instructor.classes }}</td>
                    <td>{{ instructor.disciplines }}</td>
                    <td><a href="/instructors/{{ instructor.id }}">Ver</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</main>

{% endblock content %}
