{% extends "layout.njk" %}

{% block addstyle %}
    <link rel="stylesheet" href="/instructors/index.css" type="text/css">
{% endblock addstyle %}

{% block content %}
            <div class="item">
            <label for="photo">Foto do(a) instrutor(a)</label>
            <input 
            type="file" 
            name="photo"
            placeholder="formato .jpeg/.png/.jpg"
            >
        </div>

        <div class="item">
            <label for="name">Nome Completo</label>
            <input 
            type="text" 
            name="name"
            placeholder="Carolina Fonseca"
            value="{{ infos.name }}"
            >
        </div>

        <div class="item">
            <label for="birth">Data de nascimento</label>
            <input 
            type="date" 
            name="birth"
            value="{{ infos.birth }}"
            >
        </div>

        <div class="item">
            <label for="main">Modalidade Principal</label>
                <select name="main" value="{{ infos.main }}">
                    <option value="acrobacia">Acrobacia</option>
                    <option value="armas de corte">Armas de corte</option>
                    <option value="arqueria">Arqueria</option>
                    <option value="arte marcial">Arte marcial</option>
                    <option value="pa-kua chi">Pa-kua Chi</option>
                    <option value="ritmo">Ritmo</option>
                    <option value="tai-chi">Tai-chi</option>
                    <option value="yoga chinesa">Yoga chinesa</option>
                </select>
        </div>

        <div class="item">
            <label for="disciplines">Modalidade(s) praticada(s)</label>
                <input 
                type="text" 
                name="disciplines"
                placeholder="Arte Marcial, Armas, Arqueria"
                value="{{ infos.disciplines }}"
                >
        </div>

        <div class="item">
            <label for="classes">Modalidade(s) ministrada(s)</label>
            <input 
            type="text" 
            name="classes"
            placeholder="Arte Marcial, Armas"
            value="{{ infos.classes }}"
            >
        </div>

{% endblock content %}
