*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    --principal-color: #c40000;
    --second-color: #D7DEC6;
    --third-color:#1D191D;
    --fourth-color: rgb(255, 215, 0);

}

.cards{
    width: 800px;
    margin: 152px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: var(--second-color);
    box-shadow: 8px 8px 8px -2px rgba(255, 215, 0, 0.9);
    border-radius: 8px;
    animation: card 700ms cubic-bezier(0.4, 0.01, 0.86, 1.17);
}

.cards a{
    text-decoration: none;
    background-color: var(--fourth-color);
    padding: 4px 8px;
    width: 100%;
    border: none;
    border-radius: 16px;
    font-weight: 700;
    color: black;
}

.table-container{
    display: block;
    width: 90%;
    padding: 16px;
    box-sizing: border-box;
}

.table-container table{
    width: 100%;
    border-spacing: 0;
    margin-top: 32px;
}

.table-container table tbody{
    text-align: center;
}

.table-container table tbody td{
    padding: 4px;
}

tbody tr td:first-child{
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}


@keyframes card {
    from{
        opacity: 0;
        transform: translateY(16px);
    }

    to{
        opacity: 1;
    }
}


.cards section{
    max-width: 100%;
    height: 100%;
}

.cards .cover{
    display: flex;
    align-items: center;
}

.cards .cover img{
    max-width: 100%;
    border-radius: 8px;
    height: 360px;
}

.infos,.cover{
    padding: 16px;
}

.infos h3{
    text-align: center;
}

.infos .item{
    padding: 8px;
}

.infos .item h4{
    color: var(--principal-color);
}

.infos .item span{
    background-color: var(--third-color);
    color: var(--second-color);
    padding: 8px 16px;
    border-radius: 16px;
    margin-top: 4px;
    display: inline-block;
}

.infos .item.belt-color span{
    width: 100%;
    color: var(--third-color);
    font-size: 2px;
}

